@import url(https://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800)

html
	overflow-x: hidden

body, html
	font-family: 'Dosis'
	font-size: 1.3em
	height: 100%
	margin: 0

#home, #about, #where, #schedule, #awards, #partners
	width: 100vw
	height: 100vh

#navigation
	background-color: #333333
	.nav-title
		font-family: 'mopsterregular'
		font-size: 1.6rem
	.menu
		font-family: "Dosis"
		font-weight: 500
		font-size: 1.2rem
	.menu a:hover
		color: white
		-webkit-transition: color 0.2s ease-in-out

#home
	background: url(../img/optimized/home-background.png) no-repeat center center fixed
	background-size: cover
	background-color: white
	display: table
	.home-container
		display: table-cell
		text-align: center
		vertical-align: middle
		.shift-date
			margin-bottom: 5%
			color: #262261
			font-size: 1.6rem
			h4
				font-weight: 600				
		.logo
			margin: 0 10%
			.desktop
				width: 100%
				@media (max-width: 700px)
					display: none
				@media (min-width: 701px)
					display: block
			.mobile
				width: 100%
				@media (max-width: 700px)
					display: block
				@media (min-width: 701px)
					display: none
		.video
			display: none
			opacity: 0
			height: 60%
			iframe
				width: 56%
				height: 100%
			@media (max-width: 700px)
				height: 50%
		.scroll-btn
			margin-top: 8%

#about
	background: url(../img/schedule-background.png) no-repeat center center fixed
	background-size: cover
	background-color: #00a5e6
	display: table
	.about-container
		display: table-row
		text-align: center
		vertical-align: middle
		color: white
		article
			display: inline-block
			width: 40%
			min-width: 400px
			vertical-align: top
			text-align: left
			padding: 0 50px 20px 50px
			header
				h1
					span
						font-family: 'mopsterregular'
						color: rgb(255, 37, 156)
				h2
					span
						font-family: 'mopsterregular'
						color: rgb(255, 37, 156)
			p
				font-size: 0.8em
				span
					font-weight: 700
					color: rgb(255, 37, 156)

#where
	background: url(../img/optimized/about-background.png) no-repeat center center fixed
	background-size: cover
	background-color: #00A69C
	display: table
	.where-container
		display: table-cell
		text-align: center
		vertical-align: middle
		padding: 20px 0
		color: rgb(38, 36, 95)
		header
			display: block
			h1
				margin: 30px 10%
				font-family: 'mopsterregular'
				font-weight: 700
				font-size: 1.5rem
				color: rgb(38, 36, 95)
				text-align: left
		article
			display: inline-block
			width: 40%
			min-width: 400px
			vertical-align: top
			text-align: left
			padding: 0 50px 20px 50px
			&.place-photo
				background: url(../img/pav-centro-portugal.jpg) no-repeat center center
				background-size: cover
				box-shadow: -10px -10px 0 #00a5e6
				height: 60vh
				min-height: 300px
				margin: 25px 0 0 0
			header
				h1
					span
						font-family: 'mopsterregular'
						color: #00a5e6
				h2
					span
						font-family: 'mopsterregular'
						color: #00a5e6
			p
				font-size: 0.8em
				span
					font-weight: 700
					color: #00a5e6
		.scroll-btn
			margin-top: 8%

#schedule
	background: url(../img/schedule-background.png) no-repeat center center fixed
	background-size: cover
	background-color: #00a5e6
	display: table
	.schedule-container
		article
			header
				margin: 30px 10%
				font-family: 'mopsterregular'
				font-weight: 700
				font-size: 1.5rem
				color: white
			.schedule-board-container
				width: 100%
				.schedule-board
					margin: 0 auto
					display: table
					.navigator
						text-align: center
						button
							border: none
							background: none
							cursor: pointer
							display: none
							width: 40px
							height: 40px
							margin: 10px
							&:first-child
								opacity: 0.1
							img
								width: 40px
								height: 40px
								cursor: pointer
					.day-period,
					.friday,
					.saturday,
					.sunday
						display: inline-block
						&:not(.day-period)
							width: 200px
							div:not(.day)
								border-left: 4px solid rgb(38, 36, 95)
								border-top: 4px solid rgb(38, 36, 95)
							.day
								border-left: 4px solid rgb(38, 36, 95)
								display: table-cell
								vertical-align: middle
						div
							height: 100px
							overflow: hidden
							padding: 10px
							h4
								color: rgb(38, 36, 95)
							p
								color: white
								font-size: 0.6em
							&:not(.day):not(.center-rotation)
								border-top: 4px solid rgb(38, 36, 95)
							.center-rotation
								display: table-cell
								vertical-align: middle
								h4
									transform: rotate(270deg)
	@media(max-width: 890px)
		.schedule-container
			article
				.schedule-board-container
					.schedule-board
						.navigator
							button
								display: inline-block
						.friday
							display: inline-block
						.saturday
							display: inline-block
						.sunday
							display: none
	@media(max-width: 660px)
		.schedule-container
			article
				.schedule-board-container
					.schedule-board
						.friday
							display: inline-block
						.saturday
							display: none
						.sunday
							display: none
	.scroll-btn
		text-align: center
		margin-top: 8vh

#awards
	background: url(../img/optimized/home-background.png) no-repeat center center fixed
	background-size: cover
	background-color: rgb(35, 31, 32)
	display: table
	.awards-container
		article
			header
				h1
					margin: 30px 10%
					font-family: 'mopsterregular'
					font-weight: 700
					font-size: 1.5rem
					color: white
			.awards-content
				text-align: center
				div	
					display: inline-block
					margin: 30px
					vertical-align: top
					width: 200px
					img
						width: 100%
					p
						color: rgb(255, 216, 40)
						font-weight: 600
						font-size: 0.9em
						margin: 0


#partners
	background: url(../img/optimized/home-background.png) no-repeat center center fixed
	background-size: cover
	background-color: white
	display: table
	.partners-container
		text-align: center
		article:first-child
			header
				font-family: 'mopsterregular'
				color: rgb(38, 34, 97)
			.organisations
				padding: 2%
				list-style-type: none
				li
					display: inline
					text-decoration: none
					margin: 20px
					padding: 0
					a
						text-decoration: none
						color: #262261
						font-weight: 700
						letter-spacing: 0.4px
						font-size: 0.9em
						&:hover
							opacity: 0.7
					.org-img
						height: 80px
		article:last-child
			header
				font-family: 'mopsterregular'
				color: rgb(255, 37, 156)
			.partners
				padding: 2%
				list-style-type: none
				li
					display: inline-block
					text-decoration: none
					margin: 20px
					padding: 0
					a
						text-decoration: none
						color: #262261
						font-weight: 700
						letter-spacing: 0.4px
						font-size: 0.9em
						&:hover
							opacity: 0.7
				&.gold
					.org-img
						height: 100px
				&.silver
					.org-img
						height: 80px
				&.bronze
					.org-img
						height: 60px





								
