@font-face
	font-family: Dosis
	font-style: normal
	font-weight: 200
	src: local(Dosis ExtraLight), local(Dosis-ExtraLight), url('../fonts/RPKDmaFi75RJkvjWaDDb0vesZW2xOQ-xsNqO47m55DA.woff2') format('woff2')
	src: local(Dosis ExtraLight), local(Dosis-ExtraLight), url(../fonts/RPKDmaFi75RJkvjWaDDb0vesZW2xOQ-xsNqO47m55DA.ttf) format(truetype)
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
@font-face
	font-family: Dosis
	font-style: normal
	font-weight: 300
	src: local(Dosis Light), local(Dosis-Light), url('../fonts/7aJzV14HzAOiwNTiPgucGfesZW2xOQ-xsNqO47m55DA.woff2') format('woff2')
	src: local(Dosis Light), local(Dosis-Light), url(../fonts/7aJzV14HzAOiwNTiPgucGfesZW2xOQ-xsNqO47m55DA.ttf) format(truetype)
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
@font-face
	font-family: Dosis
	font-style: normal
	font-weight: 400
	src: local(Dosis Regular), local(Dosis-Regular), url('../fonts/4hYyXH_8WmbBLamf6WjLwg.woff2') format('woff2')
	src: local(Dosis Regular), local(Dosis-Regular), url(../fonts/4hYyXH_8WmbBLamf6WjLwg.ttf) format(truetype)
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
@font-face
	font-family: Dosis
	font-style: normal
	font-weight: 500
	src: local(Dosis Medium), local(Dosis-Medium), url('../fonts/mAcLJWdPWDNiDJwJvcWKc_esZW2xOQ-xsNqO47m55DA.woff2') format('woff2')
	src: local(Dosis Medium), local(Dosis-Medium), url(../fonts/mAcLJWdPWDNiDJwJvcWKc_esZW2xOQ-xsNqO47m55DA.ttf) format(truetype)
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
@font-face
	font-family: Dosis
	font-style: normal
	font-weight: 600
	src: local(Dosis SemiBold), local(Dosis-SemiBold), url('../fonts/O6SOu9hYsPHTU43R17NS5fesZW2xOQ-xsNqO47m55DA.woff2') format('woff2')
	src: local(Dosis SemiBold), local(Dosis-SemiBold), url(../fonts/O6SOu9hYsPHTU43R17NS5fesZW2xOQ-xsNqO47m55DA.ttf) format(truetype)
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
@font-face
	font-family: Dosis
	font-style: normal
	font-weight: 700
	src: local(Dosis Bold), local(Dosis-Bold), url('../fonts/22aDRG5X9l7obljtz7tihvesZW2xOQ-xsNqO47m55DA.woff2') format('woff2')
	src: local(Dosis Bold), local(Dosis-Bold), url(../fonts/22aDRG5X9l7obljtz7tihvesZW2xOQ-xsNqO47m55DA.ttf) format(truetype)
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
@font-face
	font-family: Dosis
	font-style: normal
	font-weight: 800
	src: local(Dosis ExtraBold), local(Dosis-ExtraBold), url('../fonts/nq3OPeKr7RUSF_YDJ1woxvesZW2xOQ-xsNqO47m55DA.woff2') format('woff2')
	src: local(Dosis ExtraBold), local(Dosis-ExtraBold), url(../fonts/nq3OPeKr7RUSF_YDJ1woxvesZW2xOQ-xsNqO47m55DA.ttf) format(truetype)
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

html
	overflow-x: hidden

body, html
	font-family: 'Dosis'
	font-size: 1.3em
	height: 100%
	margin: 0
	&.modal-open
		overflow: visible

#home, #about, #history, #where, #schedule, #panel, #awards, #challenges, #sign-in, #error, #success, #partners, #faq
	width: 100vw
	padding-top: 27px
	padding-bottom: 75px
	.container
		> header
			text-align: center
			h1
				padding-bottom: 25px

#navigation
	top: -52px
	background-color: #FFFFFF
	.container
		.navbar-header
			.nav-title
				font-family: 'mopsterregular'
				font-size: 1.6rem
				line-height: 25px
				color: #262261
				&:hover
					color: #FF259C
	.collapse
		.menu
			font-family: "Dosis"
			font-weight: 500
			font-size: 0.8rem
			.active
				a
					background-color: #FFFFFF
					color: #FF259C
			a
				color: #262261
				&:hover
					color: #FF259C
					-webkit-transition: color 0.2s ease-in-out
		#signin-button
			background-color: #FFFFFF
			color: #333
			font-size: 1.2em
			font-weight: 700
			&:hover
				color: #888888

#home
	min-height: 100vh
	background-color: #FFFFFF
	padding-top: 15vh
	overflow-y: hidden
	.home-container
		text-align: center
		.shift-date
			opacity: 0
			color: #262261
			font-size: 1.6rem
			h2
				font-weight: 600
		.logo
			opacity: 0
			margin: 5% 10%
			.desktop
				width: 100%
				@media (max-width: 700px)
					display: none
				@media (min-width: 701px)
					display: block
			.mobile
				width: 100%
				@media (max-width: 700px)
					display: block
				@media (min-width: 701px)
					display: none
		#clock
			color: #262261
			font-size: 3.5rem
			font-weight: 600
			padding: 10px
		.arrow
			opacity: 0


#about
	background-color: #00A79D
	text-align: left
	.about-container
		color: #FFFFFF
		div
			text-align: left
			header
				h1
					font-size: 45px
					span
						font-family: 'mopsterregular'
						color: #FEFE00
			p
				margin-top: 20px
				font-size: 0.8em
				span
					font-weight: 700
					color: #FEFE00
				a
					color: #FFFFFF

#awards
	background-color: #2D2D2D
	.awards-container
		header
			h1
				font-family: 'mopsterregular'
				font-weight: 700
				font-size: 2rem
				color: #FFFFFF
		.awards-content
			text-align: center
			.award
				opacity: 0.3
			.gold,.silver,.bronze
				p
					color: #FFFFFF
					font-weight: 600
					font-size: 0.9em
					margin-top: 10px
					opacity: 0

#challenges
	background-color: #FEFE00
	.challenges-container
		header
			h1
				font-family: 'mopsterregular'
				font-weight: 700
				font-size: 2rem
				color: #262261
		.challenges-content
			text-align: center
			#more
				opacity: 0.3
			#security
				opacity: 0.3
			.security
				.challenge
					cursor: pointer
			.more
				p
					color: #262261
					font-size: 0.9em
					font-weight: 600
					margin-top: 10px
					opacity: 0
			.security
				color: #262261
				p
					font-size: 0.9em
					font-weight: 400
					margin-top: 10px

#modal
	.modal-dialog
		margin-top: 20vh
		.modal-content
			line-height: 0.9em
			border-radius: 0px
			background-color: #FEFE00
			box-shadow: -10px -10px 0 #262261
			.modal-header
				padding-left: 50px
				padding-bottom: 0
				border: none
				.modal-title, .close
					font-family: 'mopsterregular'
					font-weight: 700
					font-size: 1.5rem
					color: #262261
				.close
					margin-top: 5px
			.modal-body
				padding-left: 50px
				padding-right: 50px
				padding-top: 0
				font-size: 0.9em
				font-weight: 400
				h3
					font-weight: 600
				.first
					margin-bottom: 8vh
				p
					line-height: 1.2em
					font-size: 1.1rem
				.list-group
					.list-group-item
						.arrow-icon
							font-size: 1rem
						font-size: 1.1rem
						padding-left: 0
						padding-top: 4px
						padding-bottom: 4px
						background-color: #FEFE00
						border: none

#faq
	background-color: #FFFFFF
	.faq-container
		header
			h1
				font-family: 'mopsterregular'
				font-weight: 700
				font-size: 2rem
				color: #FF259C
		.faq-list
			margin-top: 20px
			div
				h3
					font-size: 0.7em
					font-weight: 400
					margin-bottom: 0px
				p
					color: #262261
					font-size: 0.8em
					span
						font-weight: 700
						color: #FF259C
					a
						text-decoration: underline
						color: #262261

#panel
	background-color: #FEFE00
	.panel-container
		header
			h1
				font-family: 'mopsterregular'
				font-weight: 700
				font-size: 2rem
				color: #262261
		.panel-content
			padding-top: 20px
			padding-bottom: 20px
			padding-left: 10px
			.person
				img
					box-shadow: -10px -10px 0 #262261
				h2
					color: #262261
				a
					text-decoration: none
				p
					font-size: 1.0rem
					color: #262261
					i
						font-size: 1.0rem
						color: #262261


#schedule
	background-color: #00A79D
	.schedule-container
		header
			h1
				font-family: 'mopsterregular'
				font-weight: 700
				font-size: 2rem
				color: #FEFE00
		.schedule-board-container
			padding-top: 30px
			display: flex
			justify-content: center
			table
				font-size: 0.9em
				thead
					tr
						font-family: 'mopsterregular'
						border-bottom: 4px solid #262261
						color: #FFFFFF
						th
							color: #FEFE00
							text-align: center
							&:not(:last-child)
								border-right: 4px solid #262261
				tbody
					color: #FFFFFF
					tr
						&:not(:last-child)
							border-bottom: 4px solid #262261
						th
							max-width: 300px
							padding: 10px
							&:first-child
								color: #FEFE00
								font-family: 'mopsterregular'
								vertical-align: middle
							&:not(:first-child)
								font-weight: 700
								font-size: 0.7em
							&:not(:last-child)
								border-right: 4px solid #262261
			.mobile-schedule
				display: none
				margin: 10%
				color: #FFFFFF
				.day
					header
						margin: 0
						h2
							color: #FEFE00
							font-family: 'mopsterregular'
							font-weight: 700
							font-size: 1.5rem
					.day-program
						list-style: none
						p
							font-weight: 300
							font-size: 0.7em
							&:not(:last-child)
								border-bottom: 2px solid #262261
	@media(max-width: 800px)
		.schedule-container
			.schedule-board-container
				table
					display: none
				.mobile-schedule
					display: block

#where
	background-color: #262261
	.where-container
		color: #FFFFFF
		header
			h1
				font-family: 'mopsterregular'
				font-weight: 700
				font-size: 2rem
				color: #FF259C
		.where-content
			padding-top: 20px
			padding-bottom: 20px
			padding-left: 10px
			div
				img
					box-shadow: -10px -10px 0 #FF259C
				p
					font-size: 0.8em
					span
						font-weight: 700
						color: #FFFFFF

#partners
	background-color: #FFFFFF
	.partners-container
		header:first-child
			h1
				font-family: 'mopsterregular'
				color: #262261
				font-size: 2rem
		header
			h1
				font-family: 'mopsterregular'
				color: #FF259C
				font-size: 2rem
				margin-bottom: 0
				padding-bottom: 0
		.partners-content
			margin: 0
			padding: 0
			.organisations
				text-align: center
				padding: 2%
				list-style-type: none
				li
					display: inline
					text-decoration: none
					margin: 20px
					padding: 0
					a
						text-decoration: none
						color: #262261
						font-weight: 700
						letter-spacing: 0.4px
						font-size: 0.9em
						&:hover
							opacity: 0.7
					.org-img
						height: 80px
			.partners
				text-align: center
				padding: 0
				list-style-type: none
				li
					display: inline-block
					text-decoration: none
					padding: 0
					a
						text-decoration: none
						color: #262261
						font-weight: 700
						letter-spacing: 0.4px
						font-size: 0.9em
						&:hover
							opacity: 0.7
				&.gold
					.org-img
						margin: 5px
						width: 150px
				&.silver
					.org-img
						margin: 5px
						width: 120px
				&.bronze
					.org-img
						margin: 5px
						width: 150px

#footer
	background-color: #262261
	text-align: center
	padding-top: 5px
	padding-bottom: 5px
	.footer-container
		.footer-content
			.row
				vertical-align: middle
				.past-editions
					padding-top: 5px
					padding-bottom: 8px
					margin-top: 5px
					margin-bottom: 7px
					display: block
					a
						color: #FF259C
						font-size: 16px
						line-height: 15px
						font-weight: 600
						text-decoration: underline
						&:hover
							color: #FF259C
							text-decoration: none
				.contacts
					margin-top: 15px
					margin-bottom: 15px
					a
						margin-left: 15px
						margin-right: 15px
						i
							color: #FF259C
						&:hover
							color: #1D1D1D


#sign-in
	background-color: #FEFE00
	display: table
	.sign-in-container
		display: table-cell
		text-align: center
		vertical-align: middle
		padding: 20px 0
		color: #262261
		width: 100%
		height: 100%
		header
			h1
				margin: 20px 20%
				font-family: 'mopsterregular'
				font-weight: 700
				font-size: 1.5rem
				color: #262261
		.sign-in-content
			display: inline-block
			width: 60%
			min-width: 400px
			vertical-align: middle
			text-align: left
			padding: 20px 50px 20px 50px
			background-color: #FFFFFF
			font-size: 0.8em
			box-shadow: -10px -10px 0 #262261
			form
				p
					font-size: 1.2em
					font-weight: 700
					margin-top: 30px
				.form-group
					label
						font-size: 1em
						font-weight: 400
					.checkbox
						label
							font-size: 0.8em
							font-weight: 300
					input
						color: #262261
				.radio-group
					p
						font-size: 1em
						font-weight: 400
					.radio
						label
							font-size: 0.8em
							font-weight: 300
				#submit
					margin-top: 20px
					text-align: center
					.button
						background-color: #262261
						color: #FFFFFF
						border: none
						font-size: 1.2em
						font-weight: 600
						margin-right: 3px
						margin-bottom: 3px
						&:hover
							box-shadow: -3px -3px 0 #999999
							margin-right: 0px
							margin-bottom: 0px
							margin-left: 3px
							margin-top: 3px

#error
	height: 100vh
	background-color: #FF259C
	display: table
	.error-container
		display: table-cell
		text-align: center
		vertical-align: middle
		padding: 20px 0
		width: 100%
		height: 100%
		header
			h1
				margin: 30px 10%
				font-family: 'mopsterregular'
				font-weight: 700
				font-size: 1.5rem
				color: #FFFFFF
		article
			display: inline-block
			width: 60%
			min-width: 400px
			vertical-align: middle
			text-align: left
			padding: 20px 50px 20px 50px
			background-color: #262261
			font-size: 0.8em
			box-shadow: -10px -10px 0 #FFFFFF
			p
				font-size: 1.2em
				font-weight: 600
				margin-top: 30px
				color: #FFFFFF
				a
					text-decoration: underline
					color: #FFFFFF
			.form-group
				padding-top: 20px
				text-align: center
				.button
					background-color: #FFFFFF
					color: #262261
					border: none
					font-size: 1.2em
					font-weight: 600
					margin-right: 3px
					margin-bottom: 3px
					&:hover
						box-shadow: -3px -3px 0 #B2B2B2
						margin-right: 0px
						margin-bottom: 0px
						margin-left: 3px
						margin-top: 3px


#success
	height: 100vh
	background-color: #00A79D
	display: table
	.success-container
		display: table-cell
		text-align: center
		vertical-align: middle
		padding: 20px 0
		width: 100%
		height: 100%
		header
			h1
				margin: 30px 10%
				font-family: 'mopsterregular'
				font-weight: 700
				font-size: 1.5rem
				color: #FFFFFF
		article
			display: inline-block
			width: 60%
			min-width: 400px
			vertical-align: middle
			text-align: left
			padding: 20px 50px 20px 50px
			background-color: #262261
			font-size: 0.8em
			box-shadow: -10px -10px 0 #FFFFFF
			p
				font-size: 1.2em
				font-weight: 700
				margin-top: 30px
				color: #FFFFFF
				a
					text-decoration: underline
					color: #FFFFFF
			.form-group
				padding-top: 20px
				text-align: center
				.button
					background-color: #FFFFFF
					color: #262261
					border: none
					font-size: 1.2em
					font-weight: 600
					margin-right: 3px
					margin-bottom: 3px
					&:hover
						box-shadow: -3px -3px 0 #B2B2B2
						margin-right: 0px
						margin-bottom: 0px
						margin-left: 3px
						margin-top: 3px
.regulamento
	a
		text-decoration: underline
