@font-face {
  font-family: Dosis;
  font-style: normal;
  font-weight: 200;
  src: local(Dosis ExtraLight), local(Dosis-ExtraLight), url("../fonts/RPKDmaFi75RJkvjWaDDb0vesZW2xOQ-xsNqO47m55DA.woff2") format("woff2");
  src: local(Dosis ExtraLight), local(Dosis-ExtraLight), url(../fonts/RPKDmaFi75RJkvjWaDDb0vesZW2xOQ-xsNqO47m55DA.ttf) format(truetype);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: Dosis;
  font-style: normal;
  font-weight: 300;
  src: local(Dosis Light), local(Dosis-Light), url("../fonts/7aJzV14HzAOiwNTiPgucGfesZW2xOQ-xsNqO47m55DA.woff2") format("woff2");
  src: local(Dosis Light), local(Dosis-Light), url(../fonts/7aJzV14HzAOiwNTiPgucGfesZW2xOQ-xsNqO47m55DA.ttf) format(truetype);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: Dosis;
  font-style: normal;
  font-weight: 400;
  src: local(Dosis Regular), local(Dosis-Regular), url("../fonts/4hYyXH_8WmbBLamf6WjLwg.woff2") format("woff2");
  src: local(Dosis Regular), local(Dosis-Regular), url(../fonts/4hYyXH_8WmbBLamf6WjLwg.ttf) format(truetype);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: Dosis;
  font-style: normal;
  font-weight: 500;
  src: local(Dosis Medium), local(Dosis-Medium), url("../fonts/mAcLJWdPWDNiDJwJvcWKc_esZW2xOQ-xsNqO47m55DA.woff2") format("woff2");
  src: local(Dosis Medium), local(Dosis-Medium), url(../fonts/mAcLJWdPWDNiDJwJvcWKc_esZW2xOQ-xsNqO47m55DA.ttf) format(truetype);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: Dosis;
  font-style: normal;
  font-weight: 600;
  src: local(Dosis SemiBold), local(Dosis-SemiBold), url("../fonts/O6SOu9hYsPHTU43R17NS5fesZW2xOQ-xsNqO47m55DA.woff2") format("woff2");
  src: local(Dosis SemiBold), local(Dosis-SemiBold), url(../fonts/O6SOu9hYsPHTU43R17NS5fesZW2xOQ-xsNqO47m55DA.ttf) format(truetype);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: Dosis;
  font-style: normal;
  font-weight: 700;
  src: local(Dosis Bold), local(Dosis-Bold), url("../fonts/22aDRG5X9l7obljtz7tihvesZW2xOQ-xsNqO47m55DA.woff2") format("woff2");
  src: local(Dosis Bold), local(Dosis-Bold), url(../fonts/22aDRG5X9l7obljtz7tihvesZW2xOQ-xsNqO47m55DA.ttf) format(truetype);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: Dosis;
  font-style: normal;
  font-weight: 800;
  src: local(Dosis ExtraBold), local(Dosis-ExtraBold), url("../fonts/nq3OPeKr7RUSF_YDJ1woxvesZW2xOQ-xsNqO47m55DA.woff2") format("woff2");
  src: local(Dosis ExtraBold), local(Dosis-ExtraBold), url(../fonts/nq3OPeKr7RUSF_YDJ1woxvesZW2xOQ-xsNqO47m55DA.ttf) format(truetype);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
html {
  overflow-x: hidden; }

body, html {
  font-family: "Dosis";
  font-size: 1.3em;
  height: 100vh;
  margin: 0; }
  body.modal-open, html.modal-open {
    overflow: visible; }

#main {
  width: 100vw;
  padding-top: 5vh; }
  #main .container {
    margin-left: auto;
    margin-right: auto; }
    #main .container #time {
      width: 50vw;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 50vh;
      color: #FF259C; }
    #main .container #buttons {
      width: 51vw;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5vw;
      padding: 0;
      border: 0; }
      #main .container #buttons button {
        width: 25vw;
        padding: 0;
        border: 0;
        font-size: 10vh;
        font-weight: 600;
        vertical-align: middle;
        text-align: center; }
      #main .container #buttons #start_timer {
        margin-left: 0;
        margin-right: auto;
        background-color: #FEFE00;
        color: #00A79D; }
      #main .container #buttons #stop_timer {
        margin-left: auto;
        margin-right: 0;
        background-color: #FF259C;
        color: #262261; }

/*# sourceMappingURL=countdown.css.map */
