/* latin */
@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 200;
  src: local("Dosis ExtraLight"), local("Dosis-ExtraLight"), url(../fonts/RPKDmaFi75RJkvjWaDDb0vesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 300;
  src: local("Dosis Light"), local("Dosis-Light"), url(../fonts/7aJzV14HzAOiwNTiPgucGfesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 400;
  src: local("Dosis Regular"), local("Dosis-Regular"), url(../fonts/4hYyXH_8WmbBLamf6WjLwg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 500;
  src: local("Dosis Medium"), local("Dosis-Medium"), url(../fonts/mAcLJWdPWDNiDJwJvcWKc_esZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 600;
  src: local("Dosis SemiBold"), local("Dosis-SemiBold"), url(../fonts/O6SOu9hYsPHTU43R17NS5fesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 700;
  src: local("Dosis Bold"), local("Dosis-Bold"), url(../fonts/22aDRG5X9l7obljtz7tihvesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 800;
  src: local("Dosis ExtraBold"), local("Dosis-ExtraBold"), url(../fonts/nq3OPeKr7RUSF_YDJ1woxvesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
html {
  overflow: hidden; }

body, html {
  font-family: "Dosis";
  font-size: 1.3em;
  height: 100%;
  margin: 0; }
  body.modal-open, html.modal-open {
    overflow: visible; }

#home, #about, #history, #where, #schedule, #panel, #awards, #challenges, #sign-in, #error, #success, #partners, #faq {
  width: 100vw;
  padding-top: 27px;
  padding-bottom: 75px; }
  #home .container > header, #about .container > header, #history .container > header, #where .container > header, #schedule .container > header, #panel .container > header, #awards .container > header, #challenges .container > header, #sign-in .container > header, #error .container > header, #success .container > header, #partners .container > header, #faq .container > header {
    text-align: center; }
    #home .container > header h1, #about .container > header h1, #history .container > header h1, #where .container > header h1, #schedule .container > header h1, #panel .container > header h1, #awards .container > header h1, #challenges .container > header h1, #sign-in .container > header h1, #error .container > header h1, #success .container > header h1, #partners .container > header h1, #faq .container > header h1 {
      padding-bottom: 25px; }

#navigation {
  top: -52px;
  background-color: #fff; }
  #navigation .container .navbar-header .nav-title {
    font-family: "mopsterregular";
    font-size: 1.6rem;
    line-height: 25px;
    color: #262261; }
    #navigation .container .navbar-header .nav-title:hover {
      color: #FF259C; }
  #navigation .collapse .menu {
    font-family: "Dosis";
    font-weight: 500;
    font-size: 0.8rem; }
    #navigation .collapse .menu .active a {
      background-color: white;
      color: #FF259C; }
    #navigation .collapse .menu a {
      color: #262261; }
      #navigation .collapse .menu a:hover {
        color: #FF259C;
        -webkit-transition: color 0.2s ease-in-out; }
  #navigation .collapse #signin-button {
    background-color: whitesmoke;
    color: #333;
    font-size: 1.2em;
    font-weight: 700; }
    #navigation .collapse #signin-button:hover {
      color: #888; }

#top-shadow {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 42px;
  z-index: 999;
  -webkit-box-shadow: 0 16px 16px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 16px 16px rgba(0, 0, 0, 0.5);
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.5); }

#home {
  height: 100vh;
  background-color: #FAFAFA;
  padding-top: 15vh;
  overflow-y: hidden; }
  #home .home-container {
    text-align: center; }
    #home .home-container .shift-date {
      opacity: 0;
      color: #262261;
      font-size: 1.6rem; }
      #home .home-container .shift-date h2 {
        font-weight: 600; }
    #home .home-container .logo {
      opacity: 0;
      margin: 5% 10%; }
      #home .home-container .logo .desktop {
        width: 100%; }
        @media (max-width: 700px) {
          #home .home-container .logo .desktop {
            display: none; } }
        @media (min-width: 701px) {
          #home .home-container .logo .desktop {
            display: block; } }
      #home .home-container .logo .mobile {
        width: 100%; }
        @media (max-width: 700px) {
          #home .home-container .logo .mobile {
            display: block; } }
        @media (min-width: 701px) {
          #home .home-container .logo .mobile {
            display: none; } }
    #home .home-container #clock {
      color: #262261;
      font-size: 3.5rem;
      font-weight: 600;
      padding: 10px; }
    #home .home-container .arrow {
      opacity: 0; }

#about {
  background-color: #00A79D;
  text-align: left; }
  #about .about-container {
    color: white; }
    #about .about-container div {
      text-align: left; }
      #about .about-container div header h1 {
        font-size: 45px; }
        #about .about-container div header h1 span {
          font-family: "mopsterregular";
          color: #FEFE00; }
      #about .about-container div p {
        margin-top: 20px;
        font-size: 0.8em; }
        #about .about-container div p span {
          font-weight: 700;
          color: #FEFE00; }
        #about .about-container div p a {
          color: #FFFFFF; }

#awards {
  background-color: #2D2D2D; }
  #awards .awards-container header h1 {
    font-family: "mopsterregular";
    font-weight: 700;
    font-size: 2rem;
    color: white; }
  #awards .awards-container .awards-content {
    text-align: center; }
    #awards .awards-container .awards-content .award {
      opacity: 0.3; }
    #awards .awards-container .awards-content .gold p, #awards .awards-container .awards-content .silver p, #awards .awards-container .awards-content .bronze p {
      color: whitesmoke;
      font-weight: 600;
      font-size: 0.9em;
      margin-top: 10px;
      opacity: 0; }

#challenges {
  background-color: #FEFE00; }
  #challenges #modal .modal-dialog .modal-content {
    line-height: 0.9em;
    border-radius: 0px;
    background-color: #FEFE00;
    box-shadow: -10px -10px 0 #262261; }
    #challenges #modal .modal-dialog .modal-content .modal-header {
      padding-left: 40px;
      border: none; }
      #challenges #modal .modal-dialog .modal-content .modal-header .modal-title, #challenges #modal .modal-dialog .modal-content .modal-header .close {
        font-family: "mopsterregular";
        font-weight: 700;
        font-size: 1.5rem;
        color: #262261; }
    #challenges #modal .modal-dialog .modal-content .modal-body {
      padding-left: 40px;
      padding-right: 40px;
      font-size: 0.9em;
      font-weight: 400; }
      #challenges #modal .modal-dialog .modal-content .modal-body p {
        line-height: 1.2em; }
        #challenges #modal .modal-dialog .modal-content .modal-body p span {
          font-weight: 600; }
      #challenges #modal .modal-dialog .modal-content .modal-body .list-group .list-group-item {
        padding-top: 4px;
        padding-bottom: 4px;
        margin-left: 10px;
        background-color: #FEFE00;
        border: none; }
  #challenges .challenges-container header h1 {
    font-family: "mopsterregular";
    font-weight: 700;
    font-size: 2rem;
    color: #262261; }
  #challenges .challenges-container .challenges-content {
    text-align: center; }
    #challenges .challenges-container .challenges-content #more {
      opacity: 0.3; }
    #challenges .challenges-container .challenges-content .security .challenge {
      cursor: pointer; }
    #challenges .challenges-container .challenges-content .more p {
      color: #262261;
      font-size: 0.9em;
      font-weight: 600;
      margin-top: 10px;
      opacity: 0; }
    #challenges .challenges-container .challenges-content .security p {
      color: #262261;
      font-size: 0.9em;
      font-weight: 400;
      margin-top: 10px; }

#faq {
  background-color: #FAFAFA; }
  #faq .faq-container header h1 {
    font-family: "mopsterregular";
    font-weight: 700;
    font-size: 2rem;
    color: #FF259C; }
  #faq .faq-container .faq-list {
    margin-top: 20px; }
    #faq .faq-container .faq-list div h3 {
      font-size: 0.7em;
      font-weight: 400;
      margin-bottom: 0px; }
    #faq .faq-container .faq-list div p {
      color: #262261;
      font-size: 0.8em; }
      #faq .faq-container .faq-list div p span {
        font-weight: 700;
        color: #FF259C; }
      #faq .faq-container .faq-list div p a {
        text-decoration: underline;
        color: #262261; }
        #faq .faq-container .faq-list div p a:hover {
          color: #337AB7; }

#panel {
  background-color: #FEFE00; }
  #panel .panel-container header h1 {
    font-family: "mopsterregular";
    font-weight: 700;
    font-size: 2rem;
    color: #262261; }
  #panel .panel-container .panel-content {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px; }
    #panel .panel-container .panel-content .person img {
      box-shadow: -10px -10px 0 #262261; }
    #panel .panel-container .panel-content .person h2 {
      color: #262261; }
    #panel .panel-container .panel-content .person a {
      text-decoration: none; }
    #panel .panel-container .panel-content .person p {
      font-size: 1rem;
      color: #262261; }
      #panel .panel-container .panel-content .person p i {
        font-size: 1rem;
        color: #262261; }

#schedule {
  background-color: #00A79D; }
  #schedule .schedule-container header h1 {
    font-family: "mopsterregular";
    font-weight: 700;
    font-size: 2rem;
    color: #FEFE00; }
  #schedule .schedule-container .schedule-board-container {
    padding-top: 30px;
    display: flex;
    justify-content: center; }
    #schedule .schedule-container .schedule-board-container table {
      font-size: 0.9em; }
      #schedule .schedule-container .schedule-board-container table thead tr {
        font-family: "mopsterregular";
        border-bottom: 4px solid #262261;
        color: white; }
        #schedule .schedule-container .schedule-board-container table thead tr th {
          color: #FEFE00;
          text-align: center; }
          #schedule .schedule-container .schedule-board-container table thead tr th:not(:last-child) {
            border-right: 4px solid #262261; }
      #schedule .schedule-container .schedule-board-container table tbody {
        color: white; }
        #schedule .schedule-container .schedule-board-container table tbody tr:not(:last-child) {
          border-bottom: 4px solid #262261; }
        #schedule .schedule-container .schedule-board-container table tbody tr th {
          max-width: 300px;
          padding: 10px; }
          #schedule .schedule-container .schedule-board-container table tbody tr th:first-child {
            color: #FEFE00;
            font-family: "mopsterregular";
            vertical-align: middle; }
          #schedule .schedule-container .schedule-board-container table tbody tr th:not(:first-child) {
            font-weight: 700;
            font-size: 0.7em; }
          #schedule .schedule-container .schedule-board-container table tbody tr th:not(:last-child) {
            border-right: 4px solid #262261; }
    #schedule .schedule-container .schedule-board-container .mobile-schedule {
      display: none;
      margin: 10%;
      color: white; }
      #schedule .schedule-container .schedule-board-container .mobile-schedule .day header {
        margin: 0; }
        #schedule .schedule-container .schedule-board-container .mobile-schedule .day header h2 {
          color: #FEFE00;
          font-family: "mopsterregular";
          font-weight: 700;
          font-size: 1.5rem; }
      #schedule .schedule-container .schedule-board-container .mobile-schedule .day .day-program {
        list-style: none; }
        #schedule .schedule-container .schedule-board-container .mobile-schedule .day .day-program p {
          font-weight: 300;
          font-size: 0.7em; }
          #schedule .schedule-container .schedule-board-container .mobile-schedule .day .day-program p:not(:last-child) {
            border-bottom: 2px solid #262261; }
@media(max-width: 800px) {
  #schedule .schedule-container .schedule-board-container table {
    display: none; }
  #schedule .schedule-container .schedule-board-container .mobile-schedule {
    display: block; } }
#where {
  background-color: #262261; }
  #where .where-container {
    color: white; }
    #where .where-container header h1 {
      font-family: "mopsterregular";
      font-weight: 700;
      font-size: 2rem;
      color: #ff259c; }
    #where .where-container .where-content {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 10px; }
      #where .where-container .where-content div img {
        box-shadow: -10px -10px 0 #ff259c; }
      #where .where-container .where-content div p {
        font-size: 0.8em; }
        #where .where-container .where-content div p span {
          font-weight: 700;
          color: white; }

#partners {
  background-color: #FAFAFA; }
  #partners .partners-container header:first-child h1 {
    font-family: "mopsterregular";
    color: #262261;
    font-size: 2rem; }
  #partners .partners-container header h1 {
    font-family: "mopsterregular";
    color: #ff259c;
    font-size: 2rem;
    margin-bottom: 0;
    padding-bottom: 0; }
  #partners .partners-container .partners-content {
    margin: 0;
    padding: 0; }
    #partners .partners-container .partners-content .organisations {
      text-align: center;
      padding: 2%;
      list-style-type: none; }
      #partners .partners-container .partners-content .organisations li {
        display: inline;
        text-decoration: none;
        margin: 20px;
        padding: 0; }
        #partners .partners-container .partners-content .organisations li a {
          text-decoration: none;
          color: #262261;
          font-weight: 700;
          letter-spacing: 0.4px;
          font-size: 0.9em; }
          #partners .partners-container .partners-content .organisations li a:hover {
            opacity: 0.7; }
        #partners .partners-container .partners-content .organisations li .org-img {
          height: 80px; }
    #partners .partners-container .partners-content .partners {
      text-align: center;
      padding: 0;
      list-style-type: none; }
      #partners .partners-container .partners-content .partners li {
        display: inline-block;
        text-decoration: none;
        padding: 0; }
        #partners .partners-container .partners-content .partners li a {
          text-decoration: none;
          color: #262261;
          font-weight: 700;
          letter-spacing: 0.4px;
          font-size: 0.9em; }
          #partners .partners-container .partners-content .partners li a:hover {
            opacity: 0.7; }
      #partners .partners-container .partners-content .partners.gold .org-img {
        margin: 5px;
        width: 150px; }
      #partners .partners-container .partners-content .partners.silver .org-img {
        margin: 5px;
        width: 120px; }
      #partners .partners-container .partners-content .partners.bronze .org-img {
        margin: 5px;
        width: 150px; }

#footer {
  background-color: #DDDDDD;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px; }
  #footer .footer-container .footer-content .row .past-editions {
    display: block; }
    #footer .footer-container .footer-content .row .past-editions a {
      color: #4D4D4D;
      font-size: 16px;
      font-weight: 300;
      text-decoration: underline; }
      #footer .footer-container .footer-content .row .past-editions a:hover {
        color: #1D1D1D; }
  #footer .footer-container .footer-content .row .contacts {
    height: 100%;
    vertical-align: middle; }
    #footer .footer-container .footer-content .row .contacts a {
      margin-left: 15px;
      margin-right: 15px; }
      #footer .footer-container .footer-content .row .contacts a i {
        color: #2D2D2D; }
      #footer .footer-container .footer-content .row .contacts a:hover {
        color: #1D1D1D; }
  #footer .footer-container .footer-content #copyright .col-md-4 {
    color: #4D4D4D;
    font-size: 12px; }

#sign-in {
  background-color: #FEFE00;
  display: table; }
  #sign-in .sign-in-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 20px 0;
    color: #26245f;
    width: 100%;
    height: 100%; }
    #sign-in .sign-in-container header h1 {
      margin: 20px 20%;
      font-family: "mopsterregular";
      font-weight: 700;
      font-size: 1.5rem;
      color: #262261; }
    #sign-in .sign-in-container .sign-in-content {
      display: inline-block;
      width: 60%;
      min-width: 400px;
      vertical-align: middle;
      text-align: left;
      padding: 20px 50px 20px 50px;
      background-color: white;
      font-size: 0.8em;
      box-shadow: -10px -10px 0 #262261; }
      #sign-in .sign-in-container .sign-in-content form p {
        font-size: 1.2em;
        font-weight: 700;
        margin-top: 30px; }
      #sign-in .sign-in-container .sign-in-content form .form-group label {
        font-size: 1em;
        font-weight: 400; }
      #sign-in .sign-in-container .sign-in-content form .form-group .checkbox label {
        font-size: 0.8em;
        font-weight: 300; }
      #sign-in .sign-in-container .sign-in-content form .form-group input {
        color: #262261; }
      #sign-in .sign-in-container .sign-in-content form .radio-group p {
        font-size: 1em;
        font-weight: 400; }
      #sign-in .sign-in-container .sign-in-content form .radio-group .radio label {
        font-size: 0.8em;
        font-weight: 300; }
      #sign-in .sign-in-container .sign-in-content form #submit {
        margin-top: 20px;
        text-align: center; }
        #sign-in .sign-in-container .sign-in-content form #submit .button {
          background-color: #262261;
          color: #FFFFFF;
          border: none;
          font-size: 1.2em;
          font-weight: 600;
          margin-right: 3px;
          margin-bottom: 3px; }
          #sign-in .sign-in-container .sign-in-content form #submit .button:hover {
            box-shadow: -3px -3px 0 #999999;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 3px;
            margin-top: 3px; }

#error {
  height: 100vh;
  background-color: #ff259c;
  display: table; }
  #error .error-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 20px 0;
    width: 100%;
    height: 100%; }
    #error .error-container header h1 {
      margin: 30px 10%;
      font-family: "mopsterregular";
      font-weight: 700;
      font-size: 1.5rem;
      color: #FFFFFF; }
    #error .error-container article {
      display: inline-block;
      width: 60%;
      min-width: 400px;
      vertical-align: middle;
      text-align: left;
      padding: 20px 50px 20px 50px;
      background-color: #262261;
      font-size: 0.8em;
      box-shadow: -10px -10px 0 #FFFFFF; }
      #error .error-container article p {
        font-size: 1.2em;
        font-weight: 600;
        margin-top: 30px;
        color: #FFFFFF; }
        #error .error-container article p a {
          color: #FFFFFF; }
      #error .error-container article .form-group {
        padding-top: 20px;
        text-align: center; }
        #error .error-container article .form-group .button {
          background-color: #FFFFFF;
          color: #262261;
          border: none;
          font-size: 1.2em;
          font-weight: 600;
          margin-right: 3px;
          margin-bottom: 3px; }
          #error .error-container article .form-group .button:hover {
            box-shadow: -3px -3px 0 #B2B2B2;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 3px;
            margin-top: 3px; }

#success {
  height: 100vh;
  background-color: #00A79D;
  display: table; }
  #success .success-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 20px 0;
    width: 100%;
    height: 100%; }
    #success .success-container header h1 {
      margin: 30px 10%;
      font-family: "mopsterregular";
      font-weight: 700;
      font-size: 1.5rem;
      color: #fff; }
    #success .success-container article {
      display: inline-block;
      width: 60%;
      min-width: 400px;
      vertical-align: middle;
      text-align: left;
      padding: 20px 50px 20px 50px;
      background-color: #262261;
      font-size: 0.8em;
      box-shadow: -10px -10px 0 #fff; }
      #success .success-container article p {
        font-size: 1.2em;
        font-weight: 700;
        margin-top: 30px;
        color: #fff; }
        #success .success-container article p a {
          color: #fff; }
      #success .success-container article .form-group {
        padding-top: 20px;
        text-align: center; }
        #success .success-container article .form-group .button {
          background-color: #FFFFFF;
          color: #262261;
          border: none;
          font-size: 1.2em;
          font-weight: 600;
          margin-right: 3px;
          margin-bottom: 3px; }
          #success .success-container article .form-group .button:hover {
            box-shadow: -3px -3px 0 #B2B2B2;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 3px;
            margin-top: 3px; }

/*# sourceMappingURL=style.css.map */
