@import url(https:fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
html {
  overflow: hidden; }

body, html {
  font-family: "Dosis";
  font-size: 1.3em;
  height: 100%;
  margin: 0; }

#home, #about, #history, #where, #schedule, #panel, #awards, #sign-in, #error, #success, #partners, #faq {
  width: 100vw;
  padding-top: 27px;
  padding-bottom: 75px; }
  #home .container header h1, #about .container header h1, #history .container header h1, #where .container header h1, #schedule .container header h1, #panel .container header h1, #awards .container header h1, #sign-in .container header h1, #error .container header h1, #success .container header h1, #partners .container header h1, #faq .container header h1 {
    padding-bottom: 25px; }

#navigation {
  top: -52px;
  background-color: #fff; }
  #navigation .container .navbar-header .nav-title {
    font-family: "mopsterregular";
    font-size: 1.6rem;
    line-height: 25px;
    color: #262261; }
    #navigation .container .navbar-header .nav-title:hover {
      color: #FF259C; }
  #navigation .collapse .menu {
    font-family: "Dosis";
    font-weight: 500;
    font-size: 0.8rem; }
    #navigation .collapse .menu .active a {
      background-color: white;
      color: #FF259C; }
    #navigation .collapse .menu a {
      color: #262261; }
      #navigation .collapse .menu a:hover {
        color: #FF259C;
        -webkit-transition: color 0.2s ease-in-out; }
  #navigation .collapse #signin-button {
    background-color: whitesmoke;
    color: #333;
    font-size: 1.2em;
    font-weight: 700; }
    #navigation .collapse #signin-button:hover {
      color: #888; }

#top-shadow {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 42px;
  z-index: 999;
  -webkit-box-shadow: 0 16px 16px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 16px 16px rgba(0, 0, 0, 0.5);
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.5); }

#home {
  height: 100vh;
  background-color: #FAFAFA;
  padding-top: 15vh;
  overflow-y: hidden; }
  #home .home-container {
    text-align: center; }
    #home .home-container .shift-date {
      opacity: 0;
      color: #262261;
      font-size: 1.6rem; }
      #home .home-container .shift-date h2 {
        font-weight: 600; }
    #home .home-container .logo {
      opacity: 0;
      margin: 5% 10%; }
      #home .home-container .logo .desktop {
        width: 100%; }
        @media (max-width: 700px) {
          #home .home-container .logo .desktop {
            display: none; } }
        @media (min-width: 701px) {
          #home .home-container .logo .desktop {
            display: block; } }
      #home .home-container .logo .mobile {
        width: 100%; }
        @media (max-width: 700px) {
          #home .home-container .logo .mobile {
            display: block; } }
        @media (min-width: 701px) {
          #home .home-container .logo .mobile {
            display: none; } }
    #home .home-container .arrow {
      opacity: 0; }

#about {
  background-color: #00A5E6; }
  #about .about-container {
    color: white; }
    #about .about-container div {
      text-align: left; }
      #about .about-container div header h1 span {
        font-family: "mopsterregular";
        color: whitesmoke; }
      #about .about-container div p {
        font-size: 0.8em; }
        #about .about-container div p span {
          font-weight: 700;
          color: whitesmoke; }

#awards {
  background-color: #2D2D2D; }
  #awards .awards-container header h1 {
    font-family: "mopsterregular";
    font-weight: 700;
    font-size: 2rem;
    color: white; }
  #awards .awards-container .awards-content {
    text-align: center; }
    #awards .awards-container .awards-content .award {
      opacity: 0.3; }
      #awards .awards-container .awards-content .award:hover {
        opacity: 1; }
    #awards .awards-container .awards-content .gold p, #awards .awards-container .awards-content .silver p, #awards .awards-container .awards-content .bronze p {
      color: whitesmoke;
      font-weight: 600;
      font-size: 0.9em;
      margin: 0;
      opacity: 0; }

#faq {
  background-color: #FAFAFA; }
  #faq .faq-container {
    color: #262261; }
    #faq .faq-container header h1 {
      font-family: "mopsterregular";
      font-weight: 700;
      font-size: 2rem;
      color: #262261; }
    #faq .faq-container .faq-list {
      margin-top: 20px; }
      #faq .faq-container .faq-list div h3 {
        font-size: 0.7em;
        font-weight: 400;
        margin-bottom: 0px; }
      #faq .faq-container .faq-list div p {
        font-size: 0.8em; }
        #faq .faq-container .faq-list div p span {
          font-weight: 700; }
        #faq .faq-container .faq-list div p a {
          color: #ff259c; }

#panel {
  background-color: #2D2D2D; }
  #panel .panel-container header h1 {
    font-family: "mopsterregular";
    font-weight: 700;
    font-size: 2rem;
    color: white; }
  #panel .panel-container .panel-content {
    padding: 20px 0; }
    #panel .panel-container .panel-content .person img {
      box-shadow: -10px -10px 0 white; }
    #panel .panel-container .panel-content .person h2 {
      color: white; }
    #panel .panel-container .panel-content .person a {
      text-decoration: none; }
    #panel .panel-container .panel-content .person p {
      font-size: 1rem;
      color: white; }
      #panel .panel-container .panel-content .person p i {
        font-size: 1rem;
        color: white; }

#schedule {
  background-color: #00A79D; }
  #schedule .schedule-container header h1 {
    font-family: "mopsterregular";
    font-weight: 700;
    font-size: 2rem;
    color: #FEFE00; }
  #schedule .schedule-container .schedule-board-container {
    padding-top: 30px;
    display: flex;
    justify-content: center; }
    #schedule .schedule-container .schedule-board-container table {
      font-size: 0.9em; }
      #schedule .schedule-container .schedule-board-container table thead tr {
        font-family: "mopsterregular";
        border-bottom: 4px solid #262261;
        color: white; }
        #schedule .schedule-container .schedule-board-container table thead tr th {
          color: #FEFE00;
          text-align: center; }
          #schedule .schedule-container .schedule-board-container table thead tr th:not(:last-child) {
            border-right: 4px solid #262261; }
      #schedule .schedule-container .schedule-board-container table tbody {
        color: white; }
        #schedule .schedule-container .schedule-board-container table tbody tr:not(:last-child) {
          border-bottom: 4px solid #262261; }
        #schedule .schedule-container .schedule-board-container table tbody tr th {
          max-width: 300px;
          padding: 10px; }
          #schedule .schedule-container .schedule-board-container table tbody tr th:first-child {
            color: #FEFE00;
            font-family: "mopsterregular";
            vertical-align: middle; }
          #schedule .schedule-container .schedule-board-container table tbody tr th:not(:first-child) {
            font-weight: 700;
            font-size: 0.7em; }
          #schedule .schedule-container .schedule-board-container table tbody tr th:not(:last-child) {
            border-right: 4px solid #262261; }
    #schedule .schedule-container .schedule-board-container .mobile-schedule {
      display: none;
      margin: 10%;
      color: white; }
      #schedule .schedule-container .schedule-board-container .mobile-schedule .day header {
        margin: 0; }
        #schedule .schedule-container .schedule-board-container .mobile-schedule .day header h2 {
          color: #FEFE00;
          font-family: "mopsterregular";
          font-weight: 700;
          font-size: 1.5rem; }
      #schedule .schedule-container .schedule-board-container .mobile-schedule .day .day-program {
        list-style: none; }
        #schedule .schedule-container .schedule-board-container .mobile-schedule .day .day-program p {
          font-weight: 300;
          font-size: 0.7em; }
          #schedule .schedule-container .schedule-board-container .mobile-schedule .day .day-program p:not(:last-child) {
            border-bottom: 2px solid #262261; }
@media(max-width: 800px) {
  #schedule .schedule-container .schedule-board-container table {
    display: none; }
  #schedule .schedule-container .schedule-board-container .mobile-schedule {
    display: block; } }
#where {
  background-color: #262261; }
  #where .where-container {
    color: white; }
    #where .where-container header h1 {
      font-family: "mopsterregular";
      font-weight: 700;
      font-size: 2rem;
      color: white; }
    #where .where-container .where-content {
      padding: 20px 0; }
      #where .where-container .where-content div p {
        font-size: 0.8em; }
        #where .where-container .where-content div p span {
          font-weight: 700;
          color: white; }

#partners {
  background-color: #FAFAFA;
  display: table; }
  #partners .partners-container header:first-child h1 {
    font-family: "mopsterregular";
    color: #262261;
    font-size: 2rem; }
  #partners .partners-container header h1 {
    font-family: "mopsterregular";
    color: #ff259c;
    font-size: 2rem;
    margin: 0;
    padding: 0; }
  #partners .partners-container .partners-content {
    margin: 0;
    padding: 0; }
    #partners .partners-container .partners-content .organisations {
      text-align: center;
      padding: 2%;
      list-style-type: none; }
      #partners .partners-container .partners-content .organisations li {
        display: inline;
        text-decoration: none;
        margin: 20px;
        padding: 0; }
        #partners .partners-container .partners-content .organisations li a {
          text-decoration: none;
          color: #262261;
          font-weight: 700;
          letter-spacing: 0.4px;
          font-size: 0.9em; }
          #partners .partners-container .partners-content .organisations li a:hover {
            opacity: 0.7; }
        #partners .partners-container .partners-content .organisations li .org-img {
          height: 80px; }
    #partners .partners-container .partners-content .partners {
      text-align: center;
      padding: 0;
      list-style-type: none; }
      #partners .partners-container .partners-content .partners li {
        display: inline-block;
        text-decoration: none;
        padding: 0; }
        #partners .partners-container .partners-content .partners li a {
          text-decoration: none;
          color: #262261;
          font-weight: 700;
          letter-spacing: 0.4px;
          font-size: 0.9em; }
          #partners .partners-container .partners-content .partners li a:hover {
            opacity: 0.7; }
      #partners .partners-container .partners-content .partners.gold .org-img {
        width: 300px; }
      #partners .partners-container .partners-content .partners.silver .org-img {
        width: 200px; }
      #partners .partners-container .partners-content .partners.bronze .org-img {
        width: 120px; }

#footer {
  background-color: #ADADAD;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }
  #footer .footer-container .footer-content .row .past-editions {
    display: block; }
    #footer .footer-container .footer-content .row .past-editions .footer-title {
      color: #2D2D2D;
      font-size: 1em;
      font-weight: 400; }
    #footer .footer-container .footer-content .row .past-editions a {
      color: #4D4D4D;
      font-size: 16px;
      font-weight: 300;
      text-decoration: underline; }
      #footer .footer-container .footer-content .row .past-editions a:hover {
        color: #1D1D1D; }
  #footer .footer-container .footer-content .row .organizers {
    height: 100%;
    vertical-align: middle; }
    #footer .footer-container .footer-content .row .organizers .footer-title {
      color: #2D2D2D;
      font-size: 1em;
      font-weight: 400; }
  #footer .footer-container .footer-content .row .contacts {
    height: 100%;
    vertical-align: middle; }
    #footer .footer-container .footer-content .row .contacts .footer-title {
      color: #2D2D2D;
      font-size: 1em;
      font-weight: 400; }
    #footer .footer-container .footer-content .row .contacts .row {
      padding-left: 25%;
      padding-right: 25%; }
      #footer .footer-container .footer-content .row .contacts .row .contact {
        display: block;
        text-align: center; }
        #footer .footer-container .footer-content .row .contacts .row .contact p {
          font-size: 0.4em; }
        #footer .footer-container .footer-content .row .contacts .row .contact a i {
          color: #2D2D2D; }
  #footer .footer-container .footer-content #copyright {
    padding-top: 20px; }
    #footer .footer-container .footer-content #copyright .col-md-4 {
      color: #4D4D4D;
      font-size: 12px; }

#sign-in {
  background-color: #fefe00;
  display: table; }
  #sign-in .sign-in-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 20px 0;
    color: #26245f;
    width: 100%;
    height: 100%; }
    #sign-in .sign-in-container header h1 {
      margin: 20px 20%;
      font-family: "mopsterregular";
      font-weight: 700;
      font-size: 1.5rem;
      color: #262261;
      text-align: left; }
    #sign-in .sign-in-container .sign-in-content {
      display: inline-block;
      width: 60%;
      min-width: 400px;
      vertical-align: middle;
      text-align: left;
      padding: 20px 50px 20px 50px;
      background-color: white;
      font-size: 0.8em;
      box-shadow: -10px -10px 0 #262261; }
      #sign-in .sign-in-container .sign-in-content form p {
        font-size: 1.2em;
        font-weight: 700;
        margin-top: 30px; }
      #sign-in .sign-in-container .sign-in-content form .form-group label {
        font-size: 1em;
        font-weight: 400; }
      #sign-in .sign-in-container .sign-in-content form .form-group .checkbox label {
        font-size: 0.8em;
        font-weight: 300; }
      #sign-in .sign-in-container .sign-in-content form .form-group input {
        color: #262261; }
      #sign-in .sign-in-container .sign-in-content form .radio-group p {
        font-size: 1em;
        font-weight: 400; }
      #sign-in .sign-in-container .sign-in-content form .radio-group .radio label {
        font-size: 0.8em;
        font-weight: 300; }
      #sign-in .sign-in-container .sign-in-content form #submit {
        margin-top: 20px;
        text-align: center; }

#error {
  background-color: #fafafa;
  display: table; }
  #error .error-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 20px 0;
    color: #c81e1e;
    width: 100%;
    height: 100%; }
    #error .error-container header h1 {
      margin: 30px 10%;
      font-family: "mopsterregular";
      font-weight: 700;
      font-size: 1.5rem;
      color: #c81e1e;
      text-align: left; }
    #error .error-container article {
      display: inline-block;
      width: 60%;
      min-width: 400px;
      vertical-align: middle;
      text-align: left;
      padding: 20px 50px 20px 50px;
      background-color: #e6e6e6;
      font-size: 0.8em;
      box-shadow: -10px -10px 0 #c81e1e; }
      #error .error-container article p {
        font-size: 1.2em;
        font-weight: 700;
        margin-top: 30px; }

#success {
  background-color: #231f20;
  display: table; }
  #success .success-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 20px 0;
    color: whitesmoke;
    width: 100%;
    height: 100%; }
    #success .success-container header h1 {
      margin: 30px 10%;
      font-family: "mopsterregular";
      font-weight: 700;
      font-size: 1.5rem;
      color: whitesmoke;
      text-align: left; }
    #success .success-container article {
      display: inline-block;
      width: 60%;
      min-width: 400px;
      vertical-align: middle;
      text-align: left;
      padding: 20px 50px 20px 50px;
      background-color: #2d2d2d;
      font-size: 0.8em;
      box-shadow: -10px -10px 0 whitesmoke; }
      #success .success-container article p {
        font-size: 1.2em;
        font-weight: 700;
        margin-top: 30px; }
      #success .success-container article .form-group {
        padding-top: 20px;
        text-align: center;
        color: #2d2d2d; }

/*# sourceMappingURL=style.css.map */
